{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">Battle Logs</h1>
  {% if battles|length < 1 %}
  <p>There is nothing to buy for now.</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Battles</th>
        <th>Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for battle in battles %}
      <tr>
        <td><a href="/update/{{ battle.id }}">{{ battle.name }}</a></td>
        <td>{{ battle.created_at.date() }}</td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/delete/{{ battle.id }}" role="button">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% include 'snippets/form.html' %}

</div>
{% endblock content %}